th{
	background-color:black;
	color:white;
	}
td{
	background-color:lightblue;
	text-align: center;
	}

.azul3{
	background-color:#e0ffff;
	}


h1{
	color:#f00; 
	font-weight:bold; 
	text-align:center;
	}