body {
	margin-left: 100px;
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0;
	color: #0000bb;
	font-family: Arial, Helvetica, sans-serif;
	text-align:justify;
	font-size: 12px;
	font-weight: normal;
	background-color: #a8f;
}

.sombra_difuminada{
	border-radius: 	10px;	
}

legend{
	font-size: 10px;
	color: 	#006;
}